<!-- LAST UPDATE: 27 JULY 2020 -->

{% extends "layout.html" %}
{% block bootstrap_2 %}
<center>
    <p class="title" style="font-size: 1.5rem;color: #01289f;">API page !!!!!</p>
</center>
<div class="column" style="margin-left: 0 !important;transform: translate(-15px, 0px)">
    <div class="form-row" style="display: inherit;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="transform: translate(-165px, 20px);">
                <div class="-md-auto control">
                    <button onclick="window.location.href='/api/categories';" class="btn btn-outline-light"
                        style="color: #01289f;border-color: #01289f;">Categories</button>
                </div>
            </div>
            <div class="col-md-auto" style="transform: translate(-30px, 20px);">
                <div class="-md-auto control">
                    <button onclick="window.location.href='/api/profiles';" class="btn btn-outline-light"
                        style="color: #01289f;border-color: #01289f;">Profiles</button>
                </div>
            </div>
            <div class="col-md-auto" style="transform: translate(120px, 20px);">
                <div class="-md-auto control">
                    <button onclick="window.location.href='/api/messages';" class="btn btn-outline-light"
                        style="color: #01289f;border-color: #01289f;">Messages</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FORM -->
<form action="/api/locations" method="post" enctype="application/json">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="col-md-9 offset-md-3">
                    <div class="card"
                        style="margin:45px 0;max-width: 200%;transform: translate(-33px, -25px);background-color: #1778b80c;">
                        <div class="card-header"
                            style="font-size: 17px;font-weight: 600;color: #d0eeed;background-color: #414a64e3;">
                            Catégorie(s)</div>
                        {% for line in categories  %}
                        <label class="customcheck" style="font-size: 14x;padding-left: 7px;padding-top: 10px;">
                            <input name="categories-{{line[0]}}" value="{{line[1]}}" type="checkbox" disabled>
                            {{line[1]}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-md-9 offset-md-3" style="margin-left: 0 !important;">
                    <div class="card"
                        style="margin:45px 0;max-width: 200%;transform: translate(-33px, -25px);background-color: #1778b80c;">
                        <div class="card-header"
                            style="font-size: 17px;font-weight: 600;color: #d0eeed;background-color: #414a64e3;">
                            Profil(s)</div>
                        {% for line in profiles  %}
                        <label class="customcheck" style="font-size: 14x;padding-left: 7px;padding-top: 10px;">
                            <input name="categories-{{line[0]}}" value="{{line[1]}}" type="checkbox" disabled>
                            {{line[1]}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 style="color: rgb(240, 140, 210);transform: translate(430px, -55px);">Sélection indisponible</h3>
    <!-- <div class="field is-grouped is-grouped-center">
        <div class="control" style="transform: translate(455px, -55px);padding-left: 2px;">
            <button class="button is-link"
                style="padding: 5px 25px;background: #01289f;color: #d0eeed;">Valider</button>
        </div>
    </div> -->
</form>
{% endblock bootstrap_2 %}