{% extends "layout.html" %}
{% block bootstrap_2 %}
<section id="app" class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter" style="width: 35%;">
                    <p class="title">
                        Edit selection
                    </p>
                    <form action="/edit_selection_post" method="post">
                        <!-- ----------------------- Selection ------------------------- -->
                        <div class="field">
                            <label class="label">Selection</label>
                            <input name="selection" class="input" value="{{selection}}" type="text" maxlength="70"
                                style="color: #292727;" readonly>
                        </div>
                        <!-- ---------------------- Categories ------------------------ -->
                        <div class="field">
                            <label class="label">Categories</label>
                            <input name="categories" class="input" value="{{categories}}" type="text" maxlength="80"
                                style="color: #292727;" required>
                        </div>
                        <!-- --------------------- lieu or event --------------------- -->
                        <!-- <div class="field">
                            <label class="label">Lieu ou Event</label>
                            <span class="select">
                                <select name="lieu_event" required>
                                    {% if selection_type=="Lieu" %}
                                    <option></option>
                                    <option selected>Lieu</option>
                                    <option>Event</option>
                                    {% elif selection_type=="Event" %}
                                    <option></option>
                                    <option>Lieu</option>
                                    <option selected>Event</option>
                                    {% else %}
                                    <option></option>
                                    <option>Lieu</option>
                                    <option>Event</option>
                                    {% endif %}
                                </select>
                            </span>
                        </div>
                        </br> -->
                        <!-- -------------------------------------------------------- -->
                        <div class="field is-grouped is-grouped-left">
                            <div class="control">
                                <input name="id" value="{{id_selection}}" type="hidden">
                                <button class="button is-link" style="padding: 5px 25px;">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bootstrap_2 %}