<!-- LAST UPDATE: 27 JULY 2020 -->

{% extends "layout.html" %}
{% block bootstrap_2 %}
<section id="app" class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter"
                    style="width: 100%;transform: translate(-300px, -90px);">
                    <p class="title" style="font-size: x-large;color: #01289f;padding-bottom: 10px;padding-top: 30px;">
                        Modifier la selection
                    </p>
                    <form action="/edit_selection_post" method="post">
                        <div class="form-row">
                            <div class="col-md-2">
                                <label class="label" style="font-size: 17px;color: #01289f;">ID selection</label>
                                <input type="text" name="selection" class="form-control" value="{{selection}}" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="label" style="font-size: 17px;color: #01289f;">Selection</label>
                                <input type="text" name="selection" class="form-control" value="{{description}}"
                                    readonly>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="column">
                                    <div class="col-md-9 offset-md-3" style="margin-left: 0 !important;">
                                        <div class="card"
                                            style="margin:45px 0;max-width: 59%;transform: translate(-33px, -25px);background-color: #1778b80c;">
                                            <div class="card-header"
                                                style="font-size: 17px;font-weight: 600;color: #d0eeed;background-color: #01289fe3;">
                                                Catégorie(s)</div>
                                            {% for line in categories  %}
                                            {% if line[2] == None %}
                                            <label class="customcheck"
                                                style="font-size: 14x;padding-left: 7px;padding-top: 10px;"><input
                                                    name="categories-{{line[0]}}" value="{{line[1]}}"
                                                    type="checkbox">&nbsp;&nbsp;{{line[1]}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            {% else %}
                                            <label class="customcheck"
                                                style="font-size: 14px;padding-left: 7px;padding-top: 10px;"><input
                                                    name="categories-{{line[0]}}" value="{{line[1]}}" type="checkbox"
                                                    checked>&nbsp;&nbsp;{{line[1]}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-left">
                            <div class="control" style="transform: translate(0px, -55px);padding-left: 2px;">
                                <input name="id" value="{{id_selection}}" type="hidden">
                                <button class="button is-link"
                                    style="padding: 5px 25px;background: #01289f;color: #d0eeed;">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bootstrap_2 %}