<!-- LAST UPDATE: 27 JULY 2020 -->

{% extends "layout.html" %}
{% block bootstrap_2 %}
<section id="app" class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter" style="width: 55%;">
                    <p class="title">
                        Edit informations
                    </p>
                    <div>
                        <!-- FORM -->
                        <form action="/edit_data_valid" method="post">
                            <!-- id Apidae -->
                            <div class="field">
                                <label class="label">id_apidae</label>
                                <input name="id_apidae" value="{{id_apidae}}" class="input" type="text" maxlength="40"
                                    style="color: #3f3d3d;" readonly>
                            </div>
                            <!-- Niveau Fraicheur -->
                            <div class="field">
                                <label class="label">name</label>
                                <input name="niveau_fraicheur" value="{{niveau_fraicheur}}" class="input" type="text"
                                    maxlength="50" style="color: #3f3d3d;" required>
                            </div>
                            <!-- Categories -->
                            <div class="field">
                                <label class="label">Categories</label>
                                <textarea name="categories" class="textarea" maxlength="1000" style="color: #3f3d3d;"
                                    required>{{categories}}</textarea>
                            </div>
                            <!-- button -->
                            <div class="field is-grouped is-grouped-left">
                                <div class="control">
                                    <button class="button is-link"
                                        style="background-color: #007bff; border-radius: 5px; border-color: #007bff; margin: 28px 0; padding: 5px 25px;">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h3 style="color: khaki;">{{errorMessage}}</h3>
{% endblock bootstrap_2 %}