<!-- ------------------------ Fait par Zahra ------------------------- -->
<!-- <!DOCTYPE html>
<html> -->
<head>
  <title>New Admin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<!-- <body> -->
  {% block bootstrap_2 %}
  <form action="/action_page.php" method="post">
    <div class="logcontainer">
      <h2>New Admin</h2>
      <img alt="" class="log">
    </div>

      <div class="container">
        <label for="uname"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="uname" required>

        <label for="psw"><b>Email</b></label>
        <input type="password" placeholder="Enter Email" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">ENTER</button>
      </div>
    </div>
  </form>
{% endblock bootstrap_2 %}

<!-- </body>
</html> -->