{% extends "layout.html" %}
{% block bootstrap_2 %}
<div class="column" style="margin-left: 0 !important;transform: translate(-15px, 0px)">
    <p class="title" style="font-size: 1.25rem;color: #01289f;">Ajouter nouvelles informations</p>
    <!-- --------------------- FORM ------------------------ -->
    <form action="/ManualEntryValide" method="post">
        <div class="form-row">
            <!-- CATEGORY COOLTOGO -->
            <div class="col-md-3 mb-3">
                <label class="label" style="font-size: 13px;">Catégorie CoolToGo</label>
                <select class="custom-select" name="selection" required>
                    <option></option>
                    <option>Au bord de l'eau</option>
                    <option>Faire du sport à la fraich</option>
                    <option>Se cultiver à la fraich</option>
                    <option>Se divertir à la fraich</option>
                    <option>Se mettre au vert</option>
                    <option>Se promener à la fraich</option>
                    <option>Se rafraichir en urgence</option>
                </select>
            </div>
            <!-- TYPE (TYPE_APIDAE) -->
            <div class="col-md-3 mb-3">
                <label class="label" style="font-size: 13px;">Type</label>
                <input name="type_apidae" class="input" type="text" placeholder="PATRIMOINE_CULTUREL"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- TITRE (NOM) -->
            <div class="col-md-3 mb-3">
                <label class="label" style="font-size: 13px;">Nom</label>
                <input name="titre" class="input" type="text" placeholder="A ma table" style="color: #5f5b5b;" required>
            </div>
            <!-- ADRESSE -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Adresse</label>
                <input name="adresse" class="input" type="text" placeholder="19 Avenue Marcellin Berthelot"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- CODE POSTAL -->
            <div class="col-md-2 mb-3">
                <label class="label" style="font-size: 13px;">Code Postal</label>
                <input name="code_postal" class="input" type="text" placeholder="38000" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- VILLE -->
            <div class="col-md-3 mb-3">
                <label class="label" style="font-size: 13px;">Ville</label>
                <input name="ville" class="input" type="text" placeholder="Ville" style="color: #5f5b5b;" required>
            </div>
            <!-- ALTITUDE -->
            <div class="col-md-2 mb-3">
                <label class="label" style="font-size: 13px;">Altitude</label>
                <input name="altitude" class="input" type="text" placeholder="Ex. 271" style="color: #5f5b5b;" required>
            </div>
            <!-- TELEPHONE -->
            <div class="col-md-2 mb-3">
                <label class="label" style="font-size: 13px;">Telephone</label>
                <input name="telephone" class="input" type="text" placeholder="Ex. 01.02.03.04.05"
                    style="color: #5f5b5b;" required>
            </div>
            <!--E-MAIL -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Email</label>
                <input name="email" class="input" type="text" placeholder="Ex. example@example.fr"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- URLs -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Site Web</label>
                <input name="site_web" class="input" type="text" placeholder="Ex. www.siteweb.com"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- USER PROFIL -->
            <div class="col-md-6 mb-3">
                <label class="label" style="font-size: 13px;padding-bottom: 12px;">Profil CoolToGo</label>
                <label><input name="senior" type="checkbox" value="Senior">Senior&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input name="enfant" type="checkbox" value="Enfant">Enfant&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input name="jeune" type="checkbox" value="Jeune">Jeune&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input name="adult" type="checkbox" value="Adulte">Adulte&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input name="solidaire" type="checkbox"
                        value="Solidaire">Solidaire&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input name="mobilite_reduite" type="checkbox" value="Mobilite_reduite">Mobilité réduite</label>
            </div>
            <!-- TOURISME ADAPTES -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Tourisme Adaptés</label>
                <input name="accessibilite" class="input" type="text"
                    placeholder="Ex. Accessible en fauteuil roulant..." style="color: #5f5b5b;" required>
            </div>
            <!-- PAYANT -->
            <div class="col-md-1 mb-3">
                <label class="label" style="font-size: 13px;">Payant</label>
                <select class="custom-select" name="payant" required>
                    <option></option>
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <!-- IMAGE -->
            <div class="col-md-5 mb-3">
                <label class="label" style="font-size: 13px;">Image</label>
                <input name="image" class="input" type="text"
                    placeholder="Ex. http://static.apidae-tourisme.com/filestore/... .jpg" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- OUVERTURE -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Ouverture</label>
                <input name="ouverture" class="input" type="text" placeholder="Ex. De juillet …"
                    style="color: #5f5b5b;">
            </div>
            <!-- DESCRIPTION -->
            <div class="col-md-6 mb-3">
                <label class="label" style="font-size: 13px;">Description</label>
                <textarea name="description" class="textarea" maxlength="1200"
                    placeholder="Ex. La bibliothèque Maison de Barnave de Saint Egrève dispose d'un grand nombre de livres, revues et CD à consulter sur place ou à emporter !"
                    style="color: #5f5b5b;height: 22px;min-height: 6em;"></textarea>
            </div>
            <!-- Environnement -->
            <div class="col-md-4 mb-3">
                <label class="label" style="font-size: 13px;">Environnement</label>
                <input name="environment" class="input" type="text" placeholder="Ex. A la campagne"
                    style="color: #5f5b5b;">
            </div>
            <!-- BOTTUN "ADD" -->
            <div class="field is-grouped is-grouped-left">
                <div class="control">
                    <button class="button is-link" type="submit"
                        style="background-color: #01289f; border-radius: 5px; margin: 28px 10px;color: #d0eeed; padding: 0 25px;font-size: 15px;">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock bootstrap_2 %}