<!-- LAST UPDATE: 27 JULY 2020 -->

{% extends "layout.html" %}
{% block bootstrap_2 %}
<div class="column" style="margin-left: 0 !important;transform: translate(-15px, -15px)">
    <p class="title" style="font-size: 1.25rem;color: #01289f;">Ajouter nouvelles informations</p>
    <!-- --------------------- FORM ------------------------ -->
    <form action="/ManualEntryValide" method="post">
        <div class="form-row">
            <!-- CATEGORY COOLTOGO -->
            <div class="col-md-auto" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;padding-bottom: 12px;color: #17a2b8;">Catégorie
                    CoolToGo</label>
                {% for line in categories  %}
                <label><input name="categories-{{line[0]}}" value="{{line[1]}}"
                        type="checkbox">&nbsp;&nbsp;{{line[1]}}&nbsp;&nbsp;&nbsp;&nbsp;</label>

                {% endfor %}
            </div>
            <!-- USER PROFIL -->
            <div class="col-md-10" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;padding-bottom: 12px;color: #17a2b8;">
                    Profil CoolToGo
                </label>
                {% for line in profiles  %}
                <label>
                    <input name="profiles-{{line[0]}}" value="{{line[1]}}"
                        type="checkbox">&nbsp;&nbsp;{{line[1]}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                {% endfor %}
            </div>
            <!-- TYPE (TYPE_APIDAE) -->
            <div class="col-md-3 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Type</label>
                <input name="type_apidae" class="input" type="text" placeholder="Ex. PATRIMOINE_CULTUREL"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- TITRE (NOM) -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Nom</label>
                <input name="titre" class="input" type="text" placeholder="Ex. A ma table" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- ADRESSE -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Adresse</label>
                <input name="adresse" class="input" type="text" placeholder="Ex. 19 Avenue Marcellin Berthelot"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- CODE POSTAL -->
            <div class="col-md-2 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Code Postal</label>
                <input name="code_postal" class="input" type="text" placeholder="Ex. 38000" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- VILLE -->
            <div class="col-md-3 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Ville</label>
                <input name="ville" class="input" type="text" placeholder="Ex. Grenoble" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- ALTITUDE -->
            <div class="col-md-2 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Altitude</label>
                <input name="altitude" class="input" type="text" placeholder="Ex. 271" style="color: #5f5b5b;" required>
            </div>
            <!-- TELEPHONE -->
            <div class="col-md-2 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Telephone</label>
                <input name="telephone" class="input" type="text" placeholder="Ex. 01.02.03.04.05"
                    style="color: #5f5b5b;" required>
            </div>
            <!--E-MAIL -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Email</label>
                <input name="email" class="input" type="text" placeholder="Ex. example@example.fr"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- URLs -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Site Web</label>
                <input name="site_web" class="input" type="text" placeholder="Ex. www.siteweb.com"
                    style="color: #5f5b5b;" required>
            </div>
            <!-- TOURISME ADAPTES -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Tourisme Adaptés</label>
                <input name="accessibilite" class="input" type="text"
                    placeholder="Ex. Accessible en fauteuil roulant..." style="color: #5f5b5b;" required>
            </div>
            <!-- PAYANT -->
            <div class="col-md-1 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Payant</label>
                <select class="custom-select" name="payant" required>
                    <option></option>
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <!-- IMAGE -->
            <div class="col-md-8 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Image</label>
                <input name="image" class="input" type="text"
                    placeholder="Ex. http://static.apidae-tourisme.com/filestore/... .jpg" style="color: #5f5b5b;"
                    required>
            </div>
            <!-- OUVERTURE -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Ouverture</label>
                <input name="ouverture" class="input" type="text" placeholder="Ex. De juillet …"
                    style="color: #5f5b5b;">
            </div>
            <!-- Start Date -->
            <div class="col-md-3 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Date de début</label>
                <input name="date_debut" class="input" type="date" style="color: #5f5b5b;">
            </div>
            <!-- End Date -->
            <div class="col-md-3 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Date de fin</label>
                <input name="date_fin" class="input" type="date" style="color: #5f5b5b;">
            </div>
            <!-- DESCRIPTION -->
            <div class="col-md-6 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Description</label>
                <textarea name="description" class="textarea" maxlength="1200"
                    placeholder="Ex. La bibliothèque Maison de Barnave de Saint Egrève dispose d'un grand nombre de livres, revues et CD à consulter sur place ou à emporter !"
                    style="color: #5f5b5b;height: 22px;min-height: 6em;"></textarea>
            </div>
            <!-- Environnement -->
            <div class="col-md-4 mb-3" style="margin-top: 15px;">
                <label class="label" style="font-size: 14px;color: #17a2b8;">Environnement</label>
                <input name="environment" class="input" type="text" placeholder="Ex. A la campagne"
                    style="color: #5f5b5b;">
            </div>
            <!-- BOTTUN "ADD" -->
            <div class="field is-grouped is-grouped-left" style="margin-top: 15px;">
                <div class="control">
                    <button class="button is-link" type="submit"
                        style="background-color: #01289f; border-radius: 5px; margin: 28px 10px;color: #d0eeed; padding: 0 25px;font-size: 15px;">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock bootstrap_2 %}