{% extends "layout.html" %}
{% block bootstrap_2 %}

<div class="card-header"
    style="background-color: #01289fe3; color: #d0eeed; border-radius: 4px 4px 0px 0px; font-size: large; font-weight: bold;">
    Information de projet
</div>
<div class="card-body" style="border-radius: 0px 0px 4px 4px;background-color: #1778b825;">
    <div class="table-responsive">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </div>
</div>
<center>
    <h2 style="color: khaki; text-align: center;transform: translate(0px, 18px);">{{ErrorMessage}}</h2>
</center>
<div class="column" style="margin-left: 0 !important;transform: translate(5px, 20px);">
    <p class="title" style="font-size: 1.25rem;color: #01289f;">Ajouter nouveau projet</p>
    <form id="app" action="/new_project_info " class="form-inline" method="post">
        <!-- INPUT PROJECT ID -->
        <div class="col-md-3 mb-3" style="transform: translate(-20px, 0px);">
            <label class="label" style="font-size: 12px;display: inherit !important;">ID projet</label>
            <input name="project_ID" class="input" type="text" maxlength="70" required>
        </div>
        <!-- INPUT API KEY -->
        <div class="col-md-3 mb-3" style="transform: translate(-20px, 0px);">
            <label class="label" style="font-size: 12px;display: inherit !important;">API key</label>
            <input name="api_key" class="input" type="text" maxlength="70" required>
        </div>
        <!-- BUTTON ADD -->
        <div class="field is-grouped is-grouped-left" style="transform: translate(-20px, 4px);">
            <button class="button is-link" type="submit"
                style="background-color: #01289f; border-radius: 4px; border-width: 0;color: #d0eeed;transform: translate(18px, 0px); padding: 5px 20px;font-size: 15px;">Ajouter</button>
        </div>
    </form>
</div>

{% endblock bootstrap_2 %}