{% extends "layout.html" %}
{% block bootstrap_2 %}
<div class="card-header"
    style="background-color: #01289fe3; color: #d0eeed; border-radius: 4px 4px 0px 0px; font-size: medium; font-weight: bold;">
    Information de projet
</div>
<div class="card-body" style="border-radius: 0px 0px 4px 4px;background-color: #1778b825;">
    <div class="table-responsive">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
        </table>
    </div>
</div>
<center>
    <h2 style="color: khaki; text-align: center;">{{errorMessage}}</h2>
</center>
<div class="container-fluid" style="transform: translate(-20px, 8px);">
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <div class="-md-auto control">
                <button onclick="window.location.href='/extract_locations';" class="btn btn-outline-light"
                    style="color: #01289f;border-color: #01289f;">Locations</button>
                <a href='/extract_locations' download class="btn btn-outline-light"
                    style="color: #01289f;border-color: #01289f;">Download</a>
            </div>
        </div>
    </div>
</div>
{% endblock bootstrap_2 %}