.dataframe {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    width: 300%;
}
  
.dataframe td, #customers th {
    border: 1px solid darkslategray;
    padding: 8px;
}
  
.dataframe tr:nth-child(even){background-color: white;}
  
.dataframe tr:hover {background-color: #F0F8FF;}
  
.dataframe th {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #72A0C1;
    color: white;
    column-width: 80px;
    border: 1px solid darkslategray;
}