<html lang="fr">
<head>
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="icon" href="{{ url_for('static', filename = 'images/simplon_logo.svg') }}" type="image/x-icon"/> -->  
    <title class = "articles">Aggregateur SIMPLON</title>
    <script>
        function refresh_date() {
            var madate = new Date();  
            annees   = madate.getFullYear();
            mois    = ('0'+(madate.getMonth()+1)).slice(-2);
            jours    = ('0'+madate.getDate()   ).slice(-2);
            heures   = ('0'+madate.getHours()  ).slice(-2);
            minutes = ('0'+madate.getMinutes()).slice(-2);
            secondes = ('0'+madate.getSeconds()).slice(-2);
            date_simplon = jours+"/"+mois+"/"+annees;
            heure_simplon = heures+":"+minutes+":"+secondes;
            document.getElementById("date_SIMPLON").innerHTML=date_simplon;
            document.getElementById("heure_SIMPLON").innerHTML=heure_simplon;
            timer = setTimeout("refresh_date()",1000);
        }

        // function updateBtn_Add() {
        //     document.getElementById("button_+").innerHTML = "Hello World"; //mettre le lien d'ajout de source
        // }

        // function updateBtn_Remove() {
        //     document.getElementById("button_+").innerHTML = <a href="{{ url_for('get_home') }}">Add new</a>;
        // }
    </script>
</head>
<body onload="refresh_date()">
    <div class="menuBar">
        <label for="Tags">Choisissez un Tag:</label>
        <input list="Tags"/>
    
        <datalist id="Tags">
            <option value="Chocolate">
            <option value="Coconut">
            <option value="Mint">
            <option value="Strawberry">
            <option value="Vanilla">
        </datalist>
    </div>
    {% block SearchBar %}

    {% endblock SearchBar %}

    <nav class="menu">
        <h1 class="articles">Aggregateur SIMPLON</h1>
        <h2 class="articles">
            <a id="date_SIMPLON"></a>
            <br>
            <a id="heure_SIMPLON"></a>
        </h2>
        <div class="ConsultNav">
            <div>
                <h3 class="menuText">Sources  :   
                    <!-- <button onclick="updateBtn_Add()">+</button> -->
                    <!-- <button onclick="window.location.href = '{{ url_for('get_home') }}';">+</button>
                </h3> -->
                <div class="scrollmenu">
                    {% block Remove_Flux %}

                    {% endblock Remove_Flux %}
                    <!-- {% set myList = [1,2,3,4,5] %} -->
                </div>
            </div>
        </div>
    </nav>
    <div id="c_container">          
        <div class="content">
            {% block content %}
    
            {% endblock content %}
            <div class="clear"></div>
        </div>
    </div>
</body>
    <!-- <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script> -->
</html>